h3{
    color: darkblue;
}
table{
    border: solid #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}
th, td{
    border: solid #333;
}
table .tituloCol{
    background-image: url(imagenes/fondoLightGray.png);
    text-align: center;

}
table .tituloFila{
    background-color: #e6f3ff;
}
table .datoOdd{
    background-color: #FFFFCC;
}
table td{
    text-align: center;
}