#titulo{
    color: teal;
}
p{
    font-size: small;
}
p strong{
    color: red;
}
p .destacado{
    color: darkgoldenrod;
}
body h2{
    color: blue;
}
p a{
    color: red;
}
p em{
    font-style: italic;
    color: blue;
}
p .especial{
    color: blueviolet;
}
table caption{
    font-size: 0;
    color: aquamarine;
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    border: solid black;
}
td{
    border: solid black;
}
table .especial{
    color: darkorange;
}
table th{
    color: red;
}
table td{
    color: darkgreen;
}
table strong{
    color: darkorange;
}
div{
    color: darkolivegreen;
}
div #especial{
    color: blueviolet;
}
div a{
    color: green;
}